
<div style="margin-top: 100px">
  <h1>Camping Logs</h1>

  {{outlet}}
  <div class="row">
    {{#each model as |log|}}
      <div class="col-sm-6" style="margin-bottom: 5px;">
        <div class="card card-body bg-light">
          <h5 class="card-title">
            {{log.title}}
          </h5>
          <small>{{log.date}}</small>
          <p class="card-text">{{log.location}}</p>
          <p class = "tpbutton btn-toolbar text-center">
            {{#link-to 'logs.view' log.id tagName='button' class='btn navbar-btn btn-info'}}View Task{{/link-to}}
            {{#link-to 'logs.edit' log.id tagName='button' class='btn navbar-btn btn-warning'}}Edit Task{{/link-to}}
          </p>
        </div>
      </div>
    {{/each}}
  </div>
</div>
